body {
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "main main main aside"
  "main main main aside";
  background-color: #4D469F;
}

.left-section {
  grid-area: main;
}

.right-section {
  grid-area: aside;
}

.board-container {
  width: 950px;
  height: 400px;
}
.row1,
.row2,
.row3,
.row4 {
  display: flex;
}

.box-styles {
  width: 68px;
  height: 97.9px;
  border: solid black 1px;
  background-color: #33BF60;
}

.box1,
.box14,
.box43,
.box56 {
  background-color: #4D469F;
  border: none;
}



.keyboard-container {
  width: 950px;
  height: 200px;
  border: solid 1px black;
  background-color: #B3CEF3;
}

.vowel-container {
  border-right: solid 2px black;
  width: 200px;
  height: 202px;
}

.round-container {
  border: solid black 1px;
  border-radius: 40px;
  margin: 15px 20px;
  width: 250px;
}

.round-text {
  margin: 5px 20px;
  font-size: 2.2rem;
}

.catergory-text {
  font-size: 2.2rem;
  margin: 15px 20px;
}

.board-container,
.keyboard-container {
  margin-left: 20px;
}

.keyboard-container {
  margin-top: 20px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-one-container,
.player-two-container,
.player-three-container,
.btn-styles {
  display: flex;
  border: solid black 1px;
  border-radius: 40px;
  margin: 15px 20px;
  width: 400px
}

.player-one-container {
  background-color: #ED6E6F;
}

.player-two-container {
  background-color: #FADF53;
}

.player-three-container {
  background-color: #627DE7;
}

.player-font {
  margin-left: 30px;
  font-size: 1.2rem;
}

.spinner {
  width: 270px;
  margin: auto;
}

.buttons-container {
  margin-bottom: -15px;
}

.spin-btn {
  background-color: #EB89F9;
}

.solve-btn {
  background-color: #97E96E;
}

.buy-btn {
  background-color: #F5B768;
}

.btn-styles {
  justify-content: center;
  height: 67.40px;
  font-size: 1.2rem;
  font-weight: 800;
}

